<nav class="navbar is-info">
  		<div class="navbar-brand">
  		<%= link_to root_path, class: "navbar-item navbar-item-twit" do %>
				<span class="icon"><i class="fab fa-twitter fa-lg" aria-hidden="true"></i></span>
  		<% end %>
			<div class="navbar-burger burger" data-target="navbarExample">
					<span></span>
					<span></span>
					<span></span>
  		</div>
  	 </div>

			<div id="navbarExample" class="navbar-menu">
				<div class="navbar-end">
          <div class="navbar-item">
					<div class="field is-grouped">
					<form action="/search">
						<div class="field has-addons">
  						<div class="control">
    					<input class="input" name='q' type="text" placeholder="Find a user">
 					 </div>
  					<div class="control">
    				<button class="button is-primary" type='submit' >
      				Search
    		
						</button>
 						 </div>
						</div>
						</form>
				
						<p class="control">
            	<%= link_to new_tweet_path, class: "button is-info" , id: "new-post" do %>
  					  <span class="icon "><i class="fa fa-pencil" aria-hidden="true"></i></span>
  					<% end %>
						</p>
            <% if user_signed_in? %>
              <p class="control">
              <%= link_to edit_user_registration_path, class: "button is-info", id: "edit-user" do %>
  					  <span class="icon"><i class="fas fa-cog" aria-hidden="true"></i></span>
  					<% end %>
							</p>
              <p>
              <%= link_to destroy_user_session_path, method: :delete, class: "button is-info" , id: "sign-out" do %>
  					  <span class="icon"><i class="fas fa-sign-out-alt" aria-hidden="true"></i></span>
  					<% end %>
							</p>
            <% else %>
            <p class="control">
              <%= link_to new_user_session_path, class: "button is-info" do %>
  					  <span class="icon"><i class="fas fa-sign-in-alt" aria-hidden="true"></i></span>
  					<% end %>            </p>
						<p class="control">
              <%= link_to new_user_registration_path, class: "button is-info" do %>
  					  <span class="icon"><i class="fas fa-user-plus" aria-hidden="true"></i></span>
  					<% end %>            </p>
            <% end %>
            </div>
					</div>
				</div>
			</div>
  	</nav>